html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  margin: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav ul li {
  margin-right: 50px;
}

.nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#header-logo {
  margin-left: 50px;
  width: 7em;
}

#stock-photo {
  width: 100%;
  max-width: 30em;
}

#ing-txtfld {
  width: 100%;
  max-width: 50em;
  padding: 15px;
  border: 1px solid black;
  border-radius: 30px;
  margin-bottom: 10px;
  font-size: 16px;
}

#submit,
#back {
  background-color: rgb(247, 159, 26);
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 15px 40px;
  font-size: 20px;
  text-decoration: none;
}

#submit:hover {
  cursor: pointer;
}

#landing-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  gap: 50px ;
}

#input {
  margin-top: -30px;
  text-align: center;
}

#tagline {
    font-size: 3em; /* Increase font size */
    line-height: 1.2; /* Adjust spacing between lines */
    margin-bottom: 10px;
}

#instruction {
  color: rgb(127, 125, 125);
  font-size: 18px;
}

.recipe-card {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  height: auto;
  max-width: 100%;
}

.recipe-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.recipe-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#recommendations {
  margin: 30px;
  padding: 50px;
}

#view-recipe {
  background: none;
  border: none;
  text-align: left;
  padding: 2px;
  font-size: medium;
  color: rgb(247, 159, 26);
  text-decoration: underline;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  #stock-photo {
    width: 100%;
    margin-top: 0;
  }

  #ing-txtfld {
    width: 100%;
  }

  #submit,
  #back {
    padding: 10px 20px;
    font-size: 16px;
  }

  #landing-page {
    flex-direction: column;
    align-items: center;
  }

  #tagline {
    font-size: 1.5em;
  }

  .recipe-card {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  #tagline {
    font-size: 1.2em;
  }

  #instruction {
    font-size: 16px;
  }

  #submit,
  #back {
    font-size: 14px;
    padding: 10px;
  }
}
