html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  margin: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul {
  display: flex;
  justify-content: center;
}
.nav ul li {
  display: flex;
  justify-content: center;
  margin-right: 50px;
}
.nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
#header-logo {
  padding: 0;
  margin-left: 50px;
  width: 7em;
}

#stock-photo {
  margin-top: -50px;
  width: 40em;
}

#ing-txtfld {
  width: 35em;
  padding: 15px;
  border: 1px solid black;
  border-radius: 30px;
  margin-bottom: 10px;
  font-size: 16px;
}
#submit {
  background-color: rgb(247, 159, 26);
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 15px 40px;
  font-size: 20px;
}
#submit:hover {
  cursor: pointer;
}

#landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}
#input {
  margin-top: -30px;
}
#tagline {
  font-size: 3.3em;
  margin-bottom: 10px;
}
#instruction {
  color: rgb(127, 125, 125);
}
.recipe-card {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  height: 350px; /* Fixed height for cards */
}
.recipe-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}
.recipe-image {
  max-height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px; /* Fixed height for image */
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#recommendations {
  margin: 30px;
  padding: 50px;
}
#view-recipe {
  background: none;
  border: none;
  text-align: left;
  padding: 2px;
  font-size: medium;
  color: rgb(247, 159, 26);
  text-decoration: underline;
}
.recipe-card {
  width: 350px; /* Set your desired width */
  height: 400px; /* Set your desired height */
  margin: 20px;
}
.card-title {
  max-height: 3em;
  line-height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
