{% extends 'base.html' %} {% block head %} <title>Ingredible</title>{% endblock
%} {% block body %}
<header class="header">
  <nav class="nav">
    <div id="logo">
      <img
        id="header-logo"
        src="{{ url_for('static', filename='img/ingredible_logo.png') }}"
        alt=""
      />
    </div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>
  <div id="landing-page">
    <img
      id="stock-photo"
      src="{{ url_for('static', filename='img/stock-photo.png') }}"
      alt=""
    />
    <div id="input">
      <h1 id="tagline">Find the recipe for you.</h1>
      <p id="instruction" style="font-size: 20px">
        Separate ingredients with
        <span style="color: rgb(247, 159, 26)">commas</span>.
      </p>
      <form action="#">
        <input
          type="text"
          id="ing-txtfld"
          name="ing"
          placeholder="Enter ingredients"
        />
        <br />
        <button type="submit" id="submit">Explore Recipes</button>
      </form>
    </div>
  </div>
</header>

{% endblock %}
