{% extends 'base.html' %} {% block head %} <title>Ingredible</title>{% endblock
%} {% block body %}
<header class="header">
  <nav class="nav">
    <div id="logo">
      <img
        id="header-logo"
        src="{{ url_for('static', filename='img/ingredible_logo.png') }}"
        alt=""
      />
    </div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>
</header>
<div id="landing-page">
  <img
    id="stock-photo"
    src="{{ url_for('static', filename='img/stock-photo.png') }}"
    alt=""
  />
  <div id="input">
    <h1 id="tagline">Find the recipe for you.</h1>
    <p id="instruction" style="font-size: 20px">
      Separate ingredients with
      <span style="color: rgb(247, 159, 26)">commas</span>.
    </p>
    <form method="post" id="recipe-form" action="?submitted=true">
      <input
        type="text"
        id="ing-txtfld"
        name="ing"
        placeholder="Enter ingredients"
        required
      />
      <br />

      <button type="submit" id="submit">Explore Recipes</button>
    </form>
  </div>
</div>
{% if recommendations %}

<div id="recommendations" class="mt-5">
  <h3>Recommended Recipes</h3>
  <br />
  <div class="row">
    {% for recipe in recommendations %}
    <div class="col-md-4">
      <div class="card recipe-card">
        <img
          class="card-img-top recipe-image"
          src="{{ recipe['image_url'] }}"
          alt="{{ recipe['recipe_name'] }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ recipe['recipe_name'] }}</h5>
          <button id="view-recipe">View Recipe</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  window.onload = function () {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has("submitted")) {
      const reco = document.getElementById("recommendations");
      if (reco) {
        reco.scrollIntoView({ behavior: "smooth" });
      }
    }
  };
</script>
{% endif %} {% endblock %}
