{% extends 'base.html' %} {% block head %} <title>Ingredible</title>{% endblock
%} {% block body %}
<div id="landing-page">
  <img
    id="stock-photo"
    src="{{ url_for('static', filename='img/stock-photo.png') }}"
    alt=""
  />
  <div id="input">
    <h1 id="tagline">Find the recipe for you.</h1>
    <p id="instruction" style="font-size: 20px">
      Separate ingredients with
      <span style="color: rgb(247, 159, 26)">commas</span>.
    </p>
    <form method="post" id="recipe-form" action="?submitted=true">
      <input
        type="text"
        id="ing-txtfld"
        name="ing"
        placeholder="Enter ingredients e.g. chicken, salt, pepper, soy sauce"
        required
      />
      <br />

      <button type="submit" id="submit">Explore Recipes</button>
    </form>
  </div>
</div>
{% if message %}
<div class="alert alert-warning text-center mt-4" role="alert">
  {{ message }}
</div>
{% endif %}

{% if recommendations %}

<div id="recommendations" class="mt-5">
  <h3>Recommended Recipes</h3>
  <br />
  <div class="row">
    {% for recipe in recommendations %}
    <div class="col-md-4">
      <div class="card recipe-card">
        <img
          class="card-img-top recipe-image"
          src="{{ recipe['image'] }}"
          alt="{{ recipe['title'] }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ recipe['title'] }}</h5>
          <p class="
            {% if recipe['complexity']|lower == 'simple' %}text-simple
            {% elif recipe['complexity']|lower == 'medium' %}text-medium
            {% elif recipe['complexity']|lower == 'complex' %}text-complex
            {% else %}text-very-complex{% endif %}"><strong>{{ recipe['complexity'] }}</strong></p>
          <a
            href="{{ url_for('view_recipe', title=recipe['title']) }}"

            ><button id="view-recipe">View Recipe</button></a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  window.onload = function () {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has("submitted")) {
      const reco = document.getElementById("recommendations");
      if (reco) {
        reco.scrollIntoView({ behavior: "smooth" });
      }
    }
  };
</script>
{% endif %} {% endblock %}


