{% extends 'base.html' %} {% block head %}
<title>{{ recipe['recipe_name'] }} - Ingredible</title>
{% endblock %} {% block body %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img
        src="{{ recipe['image_url'] }}"
        alt="{{ recipe['recipe_name'] }}"
        class="img-fluid rounded"
      />
    </div>
    <div class="col-md-6">
      <h1>{{ recipe['recipe_name'] }}</h1>

      <h3>Ingredients</h3>
      <ul class="list-group">
        {% for ingredient in recipe['ingredients_list'].split(',') %}
        <li class="list-group-item">{{ ingredient.strip() }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h3>Instructions</h3>
      <p>{{ recipe['instructions'] }}</p>
    </div>
  </div>

  <a href="/" id="back">Back to Home</a>
</div>
{% endblock %}
